[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "==11.2.1"
cryptography = "==45.0.2"

[dev-packages]
pytest = "*"
tavern = "*"
black = "*"

[requires]
python_version = "3.9"
